.CardProductInCart{
    text-decoration: none;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: rem(4);
    @include mq($BREAKPOINT-LG){
        padding-bottom: rem(39);
        border-bottom: rem(1) solid $color-grey-14;
    }  
}
.CardProductInCart-img{
    width: rem(136);
    height: rem(136);
    margin-right: rem(8);
    @include mq($BREAKPOINT-SM){
        margin-right: rem(20);
    }  
}
.CardProductInCart-img img{
    width: 100%;
    border-radius: rem(4);
}
.CardProductInCart-infor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq($BREAKPOINT-LG){
        width: 55%;
        flex-direction: row;
        align-items: flex-start;
    }  

}
.CardProductInCart-infor-top{
    font-size: rem(12);
    line-height: rem(20);
    color: $color-grey-15;
    @include mq($BREAKPOINT-SM){
        font-size: rem(14);
        line-height: rem(24);
    } 
    @include mq($BREAKPOINT-LG){
        font-size: rem(16);
        line-height: rem(27);
    } 
}
.CardProductInCart-infor-top .productName{
    color: $color-black-1;
}
.CardProductInCart-infor-top .productPrice{
    color: $color-yellow-8;
}
.CardProductInCart-infor-top .productName{
    @include mq($BREAKPOINT-LG){
        font-size: rem(20);
        line-height: rem(27);
    } 
}
.CardProductInCart-infor-botttom{
    color: $color-grey-15;
}
.CardProductInCart-infor-botttom .Quantity-input{
    cursor: pointer;
    display: none;
    width: rem(102);
    padding: rem(14);
    background-color: $color-grey-14;
    border-radius: rem(4);
    align-items: center;
    flex-direction: row;
    justify-content: center;
     @include mq($BREAKPOINT-LG){
        display: flex;
    } 
}
.CardProductInCart-infor-botttom .Quantity-input input{
    border: none;
    outline: none;
    color: $color-grey-15;
    padding: 0;
    width: rem(57);
    text-align: center;
    background: transparent;
}
.CardProductInCart-infor-botttom .Quantity-input input{
    border: none;
    outline: none;
    color: $color-grey-15;
    padding: 0;
    width: rem(57);
    text-align: center;
    background: transparent;
}
.CardProductInCart-infor-botttom .Quantity-input input::-webkit-inner-spin-button,
.CardProductInCart-infor-botttom .Quantity-input input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}
.CardProductInCart-infor-botttom select{
    border: none;
    outline: none;
    border-radius: rem(4);
    padding: rem(4) rem(8);
    background-color: $color-grey-14;
    font-size: rem(12);
    line-height: rem(20);
    color: $color-grey-15;
    @include mq($BREAKPOINT-LG){
        display: none;
    } 
}
 .CardProductInCart-infor-deleteBtn{
    cursor: pointer;
    position:absolute;
    right: 2%;
    top: 4%;
 }
 .CardProductInCart-infor-deleteBtn img{
    width: rem(10);
    height: rem(10);
 }