mixin AccountDashboard()
    <div class="AccountDashboard">
        <h3 class="AccountDashboard-title">My Account</h3>
        <div class="AccountTabs">
            +AccountMenu()
        </div>
        <div class="AccountDashboard-content">
            <p>Hello Vitatheme (not Vitatheme? <a href="#">Log out</a>)</p>
            <p>From your account dashboard you can view your 
            <a href="#">recent orders</a>, manage your 
            <a href="#">shipping and billing addresses</a>, and edit your 
            <a href="#">password and account details.</a></p>
        </div>
    </div>