<div class="e404Page-container">
    <div class="e404Page-content"> 
    <h4 class="e404Page-title">404 ERROR</h4>
    <p class="e404Page-desc">This page not found;<br>back to home and start again</p>
    <a href="#" class="e404Page-button">HOMEPAGE</a>
</div>