<div class="AboutPage-cotainer UtilPage-cotainer">
    <div class="AboutPage UtilPage-content">
        <h1 class="AboutPage-title UtilPage-content-title">About</h1>
        <h5 class="AboutPage-logan UtilPage-content-title">Who we are and why we do what we do!</h5>
        <p class="AboutPage-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget </p>
        <div class="AboutPage-subtitles">
            <div class="subtitle">
                <h5>Top trends</h5>
                +img("images/About.png","Top trends")
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget </p>
                <ul>
                    <li>consectetur adipiscing elit. Aliquam placerat</li>
                    <li>consectetur adipiscing elit. Aliquam placerat</li>
                </ul>
            </div>
            <div class="subtitle">
                <h5>Produced with care</h5>
                +img("images/About2.png","Produced with care")
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget </p>
            </div>
        </div>
    </div>
</div>