<div class="AccountPage-cotainer UtilPage-cotainer">
    <div class="AccountPage UtilPage-content">
        <h1 class="AccountPage-title UtilPage-content-title">My account</h1>
        <div class="AccountPage-tab">
            <div class="AccountPage-tab-signIn active">Sign in</div>
            <div class="AccountPage-tab-register">Register</div>
        </div>
        <div class="AccountPage-form">
            include ../Form/SignInForm
        </div>
    </div>
</div>