<div class="HelpPage-container">
    +img("images/HelpImg.jpg","Help")
    <form class="HelpPage">
        <h1 class="HelpPage-title">Help</h1>
        <div class="HelpPage-tabs">
            <div class="HelpPage-tab ">
                <div class="HelpPage-tab-title">
                    <span>
                        +img("images/TermsIcon.png","Terms of Services")
                        <span>Terms of Services</span>
                    </span>
                    +img("/images/IconDown.png","Expand")
                </div>
                <div class="HelpPage-tab-content"></div>
            </div>
            <div class="HelpPage-tab">
                <div class="HelpPage-tab-title ">
                    <span>
                        +img("images/deliveryIcon.png","Shipping")
                        <span>Shipping</span>
                    </span>
                    +img("/images/IconDown.png","Expand")
                </div>
                <div class="HelpPage-tab-content "></div>
            </div>
            <div class="HelpPage-tab">
                <div class="HelpPage-tab-title active">
                    <span>
                        +img("images/BlockIcon.png","Privacy Policy")
                        <span>Privacy Policy</span>
                    </span>
                    +img("/images/IconDown.png","Expand")
                </div>
                <div class="HelpPage-tab-content"></div>
            </div>
            <div class="HelpPage-tab">
                <div class="HelpPage-tab-title">
                    <span>
                        +img("images/ReturnIcon.png","Retun & Exchanges")
                        <span>Retun & Exchanges</span>
                    </span>
                    +img("/images/IconDown.png","Expand")
                </div>
                <div class="HelpPage-tab-content"></div>
            </div>
        </div>
        <div class="HelpPage-button">
            <button type="submit">Contact</button>
        </div>
    </form>
</span>