<div class="ResetPasswordPage-cotainer UtilPage-cotainer ">
    <div class="ResetPasswordPage UtilPage-content">
        <h1 class="ResetPasswordPage-title UtilPage-content-title">Lost password</h1>
        <p class="ResetPasswordPage-desc">If you've forgotten your password, enter your e-mail address and we'll send you an e-mail </p>
        <div class="ResetPasswordPage-form">
            include ../Form/ResetPasswordForm
        </div>
    </div>
</div>