- imageTransparent = "images/transparent.png";

include common/style
include common/link
include common/img
include common/button
include common/tags
include common/select
include common/video
include common/message
include common/breadcrumb

include common/MenuOption
include common/CardProductHorizional
include common/CardProduct
include common/CardProductWithQuantity
include common/CardProductInCart
include common/BannerProduct
include common/RatingStar
include common/QuantityInput
include common/SubmitFormButton
include components/homePage/ProductSection
include components/ShopPage/Shop
include components/ProductDetail/ProductDetail
include components/ProductDetail/ProductDetail2
include components/ProductDetail/ProductDetail3
include components/ProductDetail/ProductReview
include components/ProductDetail/PopupImgProduct
include components/ProductDetail/AlertAdd
include components/ShoppingBag/ShoppingBag
include components/ShoppingBag/ListProductPicked
include components/ShoppingCart/ShoppingCart
include components/Form/CheckoutForm
include components/UtilsPage/CheckoutPage
include components/UtilsPage/PrivacyPolicyPage
include components/UtilsPage/PrivacyPolicyPage
include components/BlogPage/BlogPage
include components/BlogPage/BlogCard
include components/UtilsPage/Account
include components/UtilsPage/AccountAddress
include components/UtilsPage/AccountDetail
include components/UtilsPage/AccountMenu
include components/UtilsPage/AccountInforItem
include components/UtilsPage/AccountNoItem
include components/UtilsPage/AccountTableItem
include components/UtilsPage/AccountTabList
include components/UtilsPage/AccountDashboard
include components/UtilsPage/ViewOrder



