.ResetPasswordPage-title {
  margin-bottom: rem(24);
}
.ResetPasswordPage-desc{
  @include fontSize12();
  margin-bottom: rem(64);
  @include mq($BREAKPOINT-SM) {
    font-size: rem(16);
  }
  @include mq($BREAKPOINT-LG) {
    text-align: center;
    @include fontSize20();
  }
}
