extends _layouts/AccountPageLayout


block append vars
  - title = $translator.home ? $translator.home.title : "AccountDownload";
  -
    const listDownLoad= [{
      id: "7643980998990",
      date:"October 8,2021",
      status:"Delivered",
      total:105
    },
    {
      id: "7643980998990",
      date:"October 8,2021",
      status:"Delivered",
      total:105
    },
    {
      id: "7643980998990",
      date:"October 8,2021",
      status:"Delivered",
      total:105
    }
   ];
block container
  +Account(listDownLoad,"Download")

  