extends _layouts/ProductDetailLayout


block append vars
  - title = $translator.home ? $translator.home.title : "Product";

  -
    const product = {
      productId:'id10',
      productImg: "images/productSmall1.png",
      productName: "Hal Earrings",
      productPrice: 25000,
      productDesc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis.",type:"Fashion, Style",Quantity:"12",
      productReviews: [{author:"Scarlet withch",date:"6 May, 2020",rating:3,content:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet."},{author:"Scarlet withch",date:"6 May, 2020",rating:3,content:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat."}]
    };

block container
  +ProductDetail(product)
