extends _layouts/ResetPasswordPageLayout


block append vars
  - title = $translator.home ? $translator.home.title : "Reset password";

block container
  include $components/UtilsPage/ResetPasswordPage
