<div class="SidebarBlog">
    <div class="SidebarBlog-search">
        <input type="text" placeholder="Search...">
        +img("images/IconSearchBar.png","Search")
    </div>
    <h5 class="SidebarBlog-title">Categories</h5>
    <ul class="SidebarBlog-list">
        <li><a href="#">Fashion</a><li>
        <li><a href="#">Style</a><li>
        <li><a href="#">Accessories</a><li>
        <li><a href="#">Season</a><li>
    <ul>
</div>