<div class="SlideDots">
    <span class="SlideDots-dot">
        +img("images/transDotLG.png", "dot")
    </span>
    <span class="SlideDots-dot">
        +img("images/fullDotLG.png", "dot")
    </span>
    <span class="SlideDots-dot">
        +img("images/fullDotLG.png", "dot")
    </span>
    <span class="SlideDots-dot">
        +img("images/fullDotLG.png", "dot")
    </span>
    <span class="SlideDots-dot">
        +img("images/fullDotLG.png", "dot")
    </span>
</div>