<footer class="footer">
  <div class="footer-top">
    <form class="footer-top-form">
        <div class="form-input">
          <input placeholder="Give an email, get the newsletter." type="text"/>
          <button>
            +img('images/sendicon.png', 'index')
          </button>
        </div>
        <div class="form-checkbox">
          <input type="checkbox" id="policyCheck" name="policyCheck">
          <label for="policyCheck"> I agree to the website’s terms and conditions</label>
        </div>
    </form>
    <ul class="footer-top-link">
        <li class="linkItem">
          +link('#', 'CONTACT')
        </li>
        <li class="linkItem">
          +link('#', 'TERMS OF SERVICES')
        </li>
        <li class="linkItem">
          +link('#', 'SHIPPING AND RETURNS')
        </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-socialItem">
        <p class="bottom-socialItem-left">
          <span>Follow us</span>
          <span></span>
        </p>
        <ul class="bottom-socialItem-right">
          <li class="linkItem">
            <a href="#">
              +img('images/Face.png', "FaceBook")
            </a>
          </li>
          <li class="linkItem">
            <a href="#">
              +img('images/Inst.png', "FaceBook")
            </a>
          </li>
          <li class="linkItem">
            <a href="#">
              +img('images/Twitter.png', "FaceBook")
            </a>
          </li>
        </ul>
        <ul class="social-item-LG">
          <li class="linkItem">
            <a href="#">
              +img('images/linkin.png', "FaceBook")
            </a>
          </li>
          <li class="linkItem">
            <a href="#">
              +img('images/FaceBig.png', "FaceBook")
            </a>
          </li>
          <li class="linkItem">
            <a href="#">
              +img('images/IgBig.png', "FaceBook")
            </a>
          </li>
          <li class="linkItem">
            <a href="#">
              +img('images/TwitterBig.png', "FaceBook")
            </a>
          </li>
        </ul>
    </div>
    <p class="footer-bottom-coppyright">
        <span>© <span>2020 Shelly.</span> Terms of use <span>and</span> privacy policy.</span>
    </p>
  </div>
</footer>
