<form class="AccountDetailForm commomFormStyle">
    <div class="AccountDetailForm-inputField">
        <input name="FirstName" type="text" placeholder="First name *" required/>
        <input name="LastName" type="text" placeholder="Last name *" required/>
        <input class="AccountDetail-DisplayNameInput" name="DisplayName" type="text" placeholder="Display name *" required/>
        <label for="DisplayName">This will be how your name will be displayed in the account section and in reviews.</label>
        <input name="Email" type="mail" placeholder="Email address*" required/>
    </div>
    <p class="AccountDetailForm-tag">Password change</p>
    <div class="AccountDetailForm-inputField">
        <input name="CurrentPassword" type="password" placeholder="Current password (leave blank to leave unchanged)" required/>
        <input name="NewPassword" type="password" placeholder="New password (leave blank to leave unchanged)" required/>
        <input name="ConfirmPassword" type="password" placeholder="Confirm new password" required/>
    </div>
    <button class="">SAVE CHANGES</button>
</form>