<form class="AddAddressForm commomFormStyle">
    <div class="AddAddressForm-inputField">
        <div class="AddAddressForm-inputField-fullName">
            <input name="FirstName" type="text" placeholder="First name *" required/>
            <input name="FirstName" type="text" placeholder="Last name *" required/>
        </div>
        <input name="CompanyName" type="text" placeholder="Company Name" required/>
        <select name="Country">
            <option value="VN" check="checked">Country *</option>
            <option value="VN">Vietnam</option>
        </select>
        <input name="StreetAddress" type="text" placeholder="Street Address *" required/>
        <input name="Postcode" type="text" placeholder="Postcode / ZIP *" required/>
        <input name="City" type="text" placeholder="Town / City *" required/>
        <input name="Phone" type="text" placeholder="Phone *" required/>
        <input name="Email" type="mail" placeholder="Email *" required/>
    </div>
    <button class="AddAddressForm-button" type="submit">SAVE ADDRESS</button>
</form> 