<form class="ContactForm commomFormStyle">
    <div class="ContactForm-firstName">
            <input type="text" placeholder="First name"/>
            +img("images/DeleteIcon.png","Delete")
    </div>
    <input type="text" placeholder="Last name"/>
    <input type="email" placeholder="Email"/>
    <select name="Subject">
        <option check="checked">Subject</option>
    </select>
    <div class="ContactForm-message">
        <label>Message</label>
        <input type="text"/>
    </div>
    <button class="ContactForm-button" type="submit">SEND</button>
</form>