<form class="RelyForm commomFormStyle">
    <p class="RelyForm-title">Leave a reply</p>
    <p class="RelyForm-desc">Your email address will not be published. Required fields are marked *</p>
    <div class="RelyForm-inputField">
        <div class="RelyForm-name">
                <input type="text" placeholder="Enter your name*" name="name"/>
                +img("images/DeleteIcon.png","Delete")
        </div>
        <input type="email" placeholder="Enter your Email*"/>
        <input type="text" placeholder="Enter your Website"/>
        <div class="RelyForm-check">
            <input type="checkbox" name="checkSaving"/>
            <label for="checkSaving">Save my name, email, and website in this browser for the next time I comment</label>
        </div>
        <div class="RelyForm-userContent">
            <label>Your Comment*</label>
            <input type="text"/>
        </div>
    </div>
    <button class="RelyForm-button" type="submit">POST COMMENT</button>
</form>