<form class="ResetPasswordForm commomFormStyle">
    <div class="ResetPasswordForm-email">
            <input type="email" placeholder="Email"/>
            +img("images/DeleteIcon.png","Delete")
    </div>
    <button class="ResetPasswordForm-button UtilPage-form-submitBtn" type="submit">RESET PASSWORD</button>
</form>