<form class="SignInForm commomFormStyle">
    <div class="SignInForm-email">
            <input type="email" placeholder="Email"/>
            +img("images/DeleteIcon.png","Delete")
    </div>
    <input class="SignInForm-pass" type="password" placeholder="Password"/>
    <div class="SignInForm-check">
        <input type="checkbox" name="checkRemeber"/>
        <label for="checkRemeber">Remember me</label>
    </div>
    <button class="SignInForm-button" type="submit">SIGN IN</button>
    <a class="SignInForm-link" href="#">Have you forgotten your password?</a>
</form>