mixin AlertAdd(state)
    <div class="AlertAdd">
        <div class="AlertAdd-state">
            +img('images/SuccessIcon.png', 'Success')
            <span>The item added to your Shopping bag.</span>    
        </div>
        <a href="#" class="AlertAdd-link">VIEW CART</a>
    </div>