form{
  margin: 0;
}
.ResetPasswordForm-email input{
  width: 100%;
  border: none;
  outline: none;
  padding: rem(5) 0;
  border-bottom: rem(1) solid $color-grey-7;
}
.ResetPasswordForm-email input::placeholder{
  @include fontSize12();
  @include mq($BREAKPOINT-SM) {
    font-size: rem(14);
  }
  @include mq($BREAKPOINT-LG) {
    font-size: rem(16);
    line-height: rem(27);
  }
}
.ResetPasswordForm-email {
  margin-bottom: rem(47);
  position: relative;
  @include mq($BREAKPOINT-LG) {
    margin-bottom: rem(64);
  }
}
.ResetPasswordForm-email img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  @include mq($BREAKPOINT-LG) {
    display: none;
  }
}
