form{
  margin: 0;
}
.SignInForm-email input,
.SignInForm-pass {
  width: 100%;
  border: none;
  outline: none;
  padding: rem(5) 0;
  border-bottom: rem(1) solid $color-grey-7;
}
.SignInForm-email input::placeholder,
.SignInForm-pass::placeholder,
.SignInForm-link {
  @include fontSize12();
  @include mq($BREAKPOINT-SM) {
    font-size: rem(14);
  }
  @include mq($BREAKPOINT-LG) {
    font-size: rem(16);
    line-height: rem(27);
  }
}
.SignInForm-email {
  margin-bottom: rem(47);
  position: relative;
}
.SignInForm-email img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  @include mq($BREAKPOINT-LG) {
    display: none;
  }
}
.SignInForm-pass,
.SignInForm-button {
  margin-bottom: rem(22);
  @include mq($BREAKPOINT-LG) {
    margin-bottom: rem(15);
  }
}
.SignInForm-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: rem(12);
  @include mq($BREAKPOINT-LG) {
    margin-bottom: rem(69);
  }
}
.SignInForm-check input {
  margin: 0 rem(4) 0 0;
}
.SignInForm-link {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: $color-black-1;
}